@model EmployeeAssistance.Models.Information

<div class="row">
    @Html.HiddenFor(m => m.Id, new { @id = "InformationId", @class="information"} ) @*Test*@
    <div class="col-sm-12">
        <h3>Description:</h3>
        <p>@Model.Description</p>
    </div>
    
    <hr />
    <div class="row">
        <div class="col-xs-4">
            <div>
                <button class="btn-primary btn-sm btn-default like-btn" type="button" id="btnLikes">
                    <span class="glyphicon glyphicon-thumbs-up"></span>Liked
                    <span class="badge like-badge active like">@Model.Likes</span>
                </button>
            </div>
        </div>

        <div class="col-xs-4">
            Post Date: 02/02/2016
        </div>

        <div class="col-xs-4">
            Most Recent Like: 02/02/2016
        </div>
    </div>
    <hr />
    
</div>  