@model EmployeeAssistance.Models.ReaderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:40px; "></div>
<div>
    <div class="well bs-component">
        <form role="form" method="post">
            @Html.Partial("_Search", Model)
            <fieldset class="form-group"></fieldset>
            <center>
                <input class="btn btn-primary" type="submit" value="Search">
            </center>
        </form>
    </div>
</div>
<div class="container">
    <div class="page-header">
        @if (Model.information != null && Model.information.Count > 0)
        {
            <h1><u>Seach Results:</u></h1>
            <br />
        }
        else
        {
            <h1><u>Select the search crieteria:</u></h1>
            <br />
        }

    </div>
    @Html.DisplayFor(m => m.information)
</div>
